.lead{
    color: black;
    font-family: sans-serif;
}
.ab{
    color: black;
    font-family: sans-serif;
    font-size: 21px;
}
.display-4{
    color: black;
    font-family: sans-serif;
}
.oi{
    color: black;
    font-family: sans-serif;
}
.qw{
    color: black;
    font-family: sans-serif;
}
.we{
    background-color:  #3583c0;
    color: #ffff;
    width: 100px;
    height: 25px;
}